<?php
// ***** open-sTeam backend server ***************************************

/// String: Hostname or ip-address of your open-sTeam backend server
defined("STEAM_SERVER") or define("STEAM_SERVER", "localhost");

/// Number: The COAL port of your open-sTeam backend server
/// default is 1900
defined("STEAM_SERVER_PORT") or define("STEAM_SERVER_PORT", 1900);

/// String: Open-sTeam root login
defined("STEAM_ROOT_LOGIN") or define("STEAM_ROOT_LOGIN", "root");

/// String: Open-sTeam root password
defined("STEAM_ROOT_PW") or define("STEAM_ROOT_PW", "steam");

/// String: Open-sTeam guest login
defined("STEAM_GUEST_LOGIN") or define("STEAM_GUEST_LOGIN", "guest");

/// String: Open-sTeam guest password
defined("STEAM_GUEST_PW") or define("STEAM_GUEST_PW", "guest");